// COLORS
$color-primary:#167CDB;
$color-primary-light:#89BCFE;
$color-primary-dark:#2B4170;

$color-grey-light-1: #f7f7f7;

$color-grey-dark:#777;
$color-white:#FBFBFD;
$color-black:#000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;