// COLORS
$color-primary:#167CDB;
$color-primary-light:#89BCFE;
$color-primary-dark:#2B4170;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#7ed56f;
$color-tertiary-dark:#28b485;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #333;

$color-grey-dark:#777;
$color-grey-dark-2:#999;

$color-white:#FBFBFD;
$color-black:#000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;