.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  // Ova e oti the elements collapsed se sobira na absolute position, za float elements koristime clearfix Hack ama za ova treba da se napisi kod kolku so e child tolku i parent visoko ili siroko.
  &__side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;

    &--front {
      background-color: $color-white;
    }

    &--back {
      background-color: greenyellow;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}